<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szml.pl.dao.AdminDao">

    <select id="getPermissions" resultType="java.lang.String">
        SELECT permission.`value` FROM admin,admin_role,role_permission,permission
                                  WHERE admin.username=#{username}
                                    AND admin.id=admin_role.id
                                    AND admin_role.id=role_permission.id
                                    AND permission.id=role_permission.id;
    </select>
</mapper>