<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szml.pl.dao.ProductDao">
<!--    <update id="batchoperation" parameterType="java.util.List">-->
<!--        update product set status=-->
<!--        <trim prefix="set" suffixOverrides=",">-->
<!--            <trim prefix="owner_id =case" suffix="end,">-->
<!--                <foreach collection="list" item="item" index="index">-->
<!--                    when full_id=#{item.originalFullId} then #{item.newOwnerId}-->
<!--                </foreach>-->
<!--            </trim>-->
<!--            <trim prefix="full_id =case" suffix="end,">-->
<!--                <foreach collection="list" item="item" index="index">-->
<!--                    when full_id=#{item.originalFullId} then #{item.newFullId}-->
<!--                </foreach>-->
<!--            </trim>-->
<!--        </trim>-->
<!--        where id in-->
<!--        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">-->
<!--            #{item.id,jdbcType=BIGINT}-->
<!--        </foreach>-->
<!--    </update>-->
</mapper>